body{
font-family: Arial, Helvetica;
color: black;
background-color: #00CED1
}

li::first-letter{
font-size: 200%
}

h1{
font-family: "Times New Roman", Garamond, "FreeSerif", Georgia;
color: black;
}
