body{
font-family: Arial, Helvetica FreeSans;
font-size: 80%;
color: black;
background-color: #DEB887;
padding-left: 100px ;
padding-right: 100px;
}

h1{
font-family: "Arial Black", Arial, Helvetica FreeSans;
font-style: italic;
font-weight: bold;
text-align: center;
color: black;
background-color: #F5F5DC;
border: 5px dotted;
}

h1 + p{
margin-top 10px;
background-color: #F5F5DC;
border-left: 5px dotted;
border-right: 5px dotted;
}

li::first-letter{
font-size: 125%
}

ul{
list-style: none;
font-family: Arial, Helvetica, FreeSans;
font-style: italic;
font-size: 110%;	
text-align: center;
background-color: #F5F5DC;
border-left: 5px dotted;
border-right: 5px dotted;
}

ul + p{
font-size: 100%;
text-align: center;
background-color: #F5F5DC;	
border-left: 5px dotted;
border-right: 5px dotted;
border-bottom: 5px dotted;
}

