*{
margin:0;
padding:0;
}

body{
font-family:"Century Gothic", sans-serif, Calibri, FreeSans;
color: gray;
background-color: rgb(203, 220, 223);
width:25%;
display: inline;
}

p1{
margin-top:-300px;
text-align: center;
width: 100%;
display:block;
}

header{
margin-top: 5em;
}

h1{
text-transform: uppercase; 
color:white;
font-weight: 500;
font-size:100%;
padding: 1em;
background-color: rgb(29, 129, 143);
} 

h2{
padding: 0em 3em .5em 3em;
color: white;
font-size: 250%;
font-weight: 400;
text-align: center;
background-color: rgb(29, 129, 143);
display: block;
}

h3{
text-align: center;
text-transform: uppercase;
font-weight: 400; 
font-size: 90%;
line-height: 1.25; 
color: white;
padding: .5em;
background-color: #FF8C00;
width: 318px;
display: inline-block;
}

nav{
margin-top:-40px;
padding-right: 1em;
float:right;
list-style: none;
text-align: center;
display: inline-block;
background-color: rgb(29, 129, 143);
}

ul{
text-align: right;
}

li{
padding-right: 1em;
text-align: left;200
vertical-align: top;
display: inline;
}

nav a{
text-decoration: none;
font-weight: 300;
font-size: 80%;
color:white;	
}

.form{
margin: 4em 0em 0em 2em;
line-height: 2;
padding: 0em 2em 1em 0em;
width:300px;
text-align:right;
color: gray;
background:white;
display: inline-block;
}

p.form {
}

.form input{
margin-left: 1em;
color:gray;
}

.form p2{
margin-right: 49%;	
}

.form p3{
margin-right: 35%;
}

.form option{
color:gray;
}

.form textarea{
margin-left: 1em;
color:gray;
vertical-align: top;
}

button{
color: white;
font-size: 80%;
font-weight: 400;
background-color:rgb(29, 129, 143);
border: 3px solid;
border-color: rgb(29, 129, 143);
border-radius:10%;
}

