*{
margin:0;
padding:0;
}

body{
font-family:"Century Gothic", sans-serif, Calibri, FreeSans;
color: gray;
background-color: rgb(203, 220, 223);
width:25%;
display: inline;
}

header{
margin-top: 5em;
}

h1{
text-transform: uppercase; 
color:white;
font-weight: 500;
font-size:100%;
padding: 1em;
background-color: rgb(29, 129, 143);
} 

h2{
padding: 0em 3em .5em 3em;
color: white;
font-size: 250%;
font-weight: 400;
text-align: center;
background-color: rgb(29, 129, 143);
display: block;
}

h3{
text-align: center;
text-transform: uppercase;
font-size: 90%;
color: white;
padding: .5em;
background-color: #FF8C00;
width: 300px;
display: inline-block;
}

nav{
margin:-40px;
padding-right:3em;
float:right;
list-style: none;
text-align: center;
display: inline-block;
background-color: rgb(29, 129, 143);
}

ul{
text-align: right;
}

li{
padding-right: 1em;
text-align: left;
vertical-align: top;
display: inline;
}

nav a{
text-decoration: none;
font-weight: 300;
font-size: 80%;
color:white;	
}

form{
width: 50%;
display: inline-block;
background-color: white;
}

form p{
width: 50%;
text-align: right;
float:left;
vertical-align: text-top;
display: inline-block;
background-color: white;
}

option{
float:left;
margin-left:1em;
background-color: white;
}

input{
margin: auto;
padding-right: 2em;
color:gray;
}

textarea{
margin-left: 1em;
color:gray;
vertical-align: top;
}

form p3{
padding-left: 2em;
width: 50%;
}

button{
color: white;
font-size: 90%;
background-color: #008B8B;
border: 1px solid;
border-radius:10%;

}